
    <!-- introduction start -->
    <section>

        <!-- introduction row-1 start -->
    <div class="row intro-row-1 w-100">
    
        <!-- introduction row col-1 start -->
    <div class="col-lg-6">
    
    <div class="container intro-caption">
    
    <h1 class="intro-heading">
        Unlocking Vital <br>
    Insights: Your Blood, Your Lab
    </h1>
    <p class="intro-p mt-4">
        Unlocking Vital Insights: Where Your Blood Holds the Key to Your <br>
    Health – Welcome to Your Trusted Laboratory.
    </p>
    <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
    </div>
    
    
    
    
    
    
    
    </div>
        <!-- introduction row col-1 end -->
    
        <!-- introduction row col-2 start -->
    <div class="col-lg-6 bg-danger">
        <img src="{% static 'img/banner-01.jpg' %}" alt="" class="img-fluid">
    </div>
        <!-- introduction row col-2 end -->
    
    </div>
        <!-- introduction row-1 end -->
    
    
    
    
       <!-- introduction row-2 start -->
       <div class="row intro-row-2">
    
        <!-- introduction row col-1 start -->
    <div class="col-lg-6">
    
    <div class="container intro-caption">
    
    <h1 class="intro-heading">
        Your Journey to <br>
        Wellness: Precision Diagnostics, <br>
        Compassionate Care.
    </h1>
    <p class="intro-p mt-4">
        Experience excellence in healthcare at our state-of-the-art lab, <br>
    where precision meets compassion for your well-being.
    </p>
    <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
    </div>
    
    
    
    
    
    
    
    </div>
        <!-- introduction row col-1 end -->
    
        <!-- introduction row col-2 start -->
    <div class="col-lg-6">
        <img src="{% static 'img/banner-02.jpg' %}" alt="" class="img-fluid">
    </div>
        <!-- introduction row col-2 end -->
    
    
    
    
    
    
    
    
    
    
    </div>
        <!-- introduction row-2 end -->
    
    
    
    
    
    
    
    
    </section>
        <!-- introduction end -->
    