<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <!-- introduction start -->
<section class="introduction-section">
 
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel" data-bs-interval="6400">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">


    <!-- introduction row col-1 start -->
    <div class="col-lg-6">

        <div class="container intro-caption">
        
        <h1 class="intro-heading">
            Unlocking Vital <br>
        Insights: Your Blood, Your Lab
        </h1>
        <p class="intro-p mt-4">
            Unlocking Vital Insights: Where Your Blood Holds the Key to Your <br>
        Health – Welcome to Your Trusted Laboratory.
        </p>
        <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
        </div>
        
        
        
   
        
        
        
        
        </div>
            <!-- introduction row col-1 end -->
        
            <!-- introduction row col-2 start -->
        <div class="col-lg-6">
            <img src="{% static 'img/banner-01.jpg' %}" alt="" class="img-fluid">
        </div>
            <!-- introduction row col-2 end -->



            </div>
          </div>
          <div class="carousel-item">
           <div class="row">



 <!-- introduction row col-1 start -->
 <div class="col-lg-6">

    <div class="container intro-caption">
    
    <h1 class="intro-heading">
        Your Journey to <br>
        Wellness: Precision Diagnostics, <br>
        Compassionate Care.
    </h1>
    <p class="intro-p mt-4">
        Experience excellence in healthcare at our state-of-the-art lab, <br>
    where precision meets compassion for your well-being.
    </p>
    <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
    </div>
    
    
    
    
    
    
    
    </div>
        <!-- introduction row col-1 end -->
    
        <!-- introduction row col-2 start -->
    <div class="col-lg-6">
        <img src="{% static 'img/banner-02.jpg' %}" alt="" class="img-fluid">
    </div>
        <!-- introduction row col-2 end -->
    
    
    
    
    
    
    
    






           </div>
          </div>
         
        </div>
        <button class="carousel-control-prev d-none " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="prev ">
            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
            <span class="visually-hidden ">Previous</span>
          </button>
                    <button class="carousel-control-next d-none " type="button " data-bs-target="#carouselExampleIndicators " data-bs-slide="next ">
            <span class="carousel-control-next-icon " aria-hidden="true "></span>
            <span class="visually-hidden ">Next</span>
          </button>
      </div>













<!-- navigation-bar-1 start -->

<div class="container mt-5 navigation-bar">


    <nav class="navbar navbar-expand-lg bg-white shadow p-3 mb-5 bg-body rounded">
        <div class="container-fluid row">
            <div class="col-lg-3">
          <a class="navbar-brand" href="#"><img src="{% static 'img/gmrl-logo.svg' %}" alt="" class="img-fluid"></a>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    


            <div class="col-lg-9 ms-4">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
              <li class="nav-item">
                <a class="nav-link nav-links ps-3 pe-3" aria-current="page" href="#">ABOUT US</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3" href="#">TESTS</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">PACKAGES</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">BLOG</a>
              </li>  
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">GALLERY</a>
              </li> 
               <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">BRANCHES</a>
              </li> 
               <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">CONTACT US</a>
              </li>
            </ul>
          
            </div>
          </div>
        </div>
      </nav>














</div>











<!-- navigation-bar end -->






<!-- navigation-bar start -->

<div class="navigation-bar-1">


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid row">
            <div class="col-lg-2">
          <a class="navbar-brand" href="#"><img src="{% static 'img/gmrl-logo.svg' %}" alt="" class="img-fluid"></a>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    


            <div class="col-lg-9 ms-4">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
              <li class="nav-item">
                <a class="nav-link nav-links ps-3 pe-3" aria-current="page" href="#">ABOUT US</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3" href="#">TESTS</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">PACKAGES</a>
              </li>
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">BLOG</a>
              </li>  
              <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">GALLERY</a>
              </li> 
               <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">BRANCHES</a>
              </li> 
               <li class="nav-item ps-2 pe-2">
                <a class="nav-link nav-links ps-3 pe-3">CONTACT US</a>
              </li>
            </ul>
          
            </div>
          </div>
        </div>
      </nav>














</div>











<!-- navigation-bar-2 end -->









  <!-- marquee section  -->
  <div class="container">
  <div class="scroll row">


    <div class="col-lg-3 scroll-left">
    <h3 class="scroll-h text-center mt-2"> <i class="fa fa-bullhorn"></i> News & Events</h3>
    </div>



    <div class="col-lg-9">
    <marquee behavior="" direction="left" scrollamount="10">
       
        <p class="marq mt-3">Stay Updated with GMRL: Exciting News and Events Await! Explore the latest in health breakthroughs, special promotions, and community engagements right here. Check back often for updates that keep you informed and inspired.</p>
    </marquee>
    </div>
</div>
  </div>








</section>
    <!-- introduction end -->


<!-- welcome section start -->

<section class="welcome-section mt-5">

    <div class="container p-5">
    <!-- welcome row start -->
<div class="row">

<div class="col-lg-5">
    <img src="{% static 'img/welcome-image.jpg' %}" alt="" class="img-fluid rounded">
</div>


<div class="col-lg-7">
    <h6 style="color: blue;">Welcome to GMRL Labs</h6>
    <h2 class="welcome-h2">Elevating Health Through <br>
        Precision Diagnostics: GMRL Laboratories</h2>
        <p class="mt-5 welcome-caption">Welcome To GMRL Laboratories</p>
        <p class="mt-4 welcme-p">Best Laboratory in Ernakulam, a beacon of healthcare excellence situated in the heart of Thrippunithura. Our commitment is to bring you comprehensive and affordable Health Check-Up Packages, ensuring your well-being is our top priority.</p>
        <p class="mt-5 welcome-caption">Cutting-edge Technology for Accurate Results</p>
        <p class="mt-4 welcme-p">At GMRL Laboratories, our state-of-the-art facility is equipped with fully automated analyzers, demonstrating our dedication to excellence. Additionally, these analyzers undergo daily verification against Biorad USA Quality Controls, assuring you not only accuracy but also reliability in every diagnostic result. Moreover, we understand the significance of your health, and our stringent quality assurance practices reflect our commitment to providing the best possible care.</p>
        <p class="mt-5 welcome-caption">Guiding You Through Your Health Journey</p>
        <p class="mt-4 welcme-p">Our team of dedicated professionals is here to guide you through every step of your health assessment journey. With a mission to provide the highest standard of care and convenience, we ensure that your experience at GMRL Laboratories is both seamless and empowering. Your health is not just a diagnosis to us; it’s a journey, and we’re honored to be your trusted partner on the path to a healthier, happier life.</p>
        <p class="mt-5 welcome-caption">The Human Touch in Healthcare</p>
        <p class="mt-4 welcme-p">What sets us apart is not just our advanced technology but the human touch we bring to healthcare. We believe in creating a supportive environment where you feel informed and cared for. Furthermore, from precise testing to comprehensive health assessments, we strive to make your experience with GMRL Laboratories both enriching and reassuring.</p>
        <p class="mt-5 welcome-caption">Looking Ahead with Innovation</p>
        <p class="mt-4 welcme-p">As we look ahead, our commitment to innovation and excellence remains unwavering. We understand that a proactive approach to healthcare is essential. Therefore, we are here to empower you with the knowledge and insights needed to make informed decisions about your well-being.</p>
        <p class="mt-5 welcome-caption">Choose GMRL Laboratories for Optimal Health</p>
        <p class="mt-4 welcme-p">Best laboratory in Ernakulam for a healthcare experience that goes beyond expectations – where cutting-edge technology meets compassionate care. Your journey to optimal health begins with us, and we’re excited to be a part of it. Trust <a href="">GMRL Laboratories</a>, where your health is our passion, and your well-being is our commitment.</p>
        <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
</div>



</div>
    <!-- welcome row end -->

<div class="welcome-banner mt-5 p-5 pb-5">
    <div class="container welcome-bann">
<div class="row">

<div class="col-lg-3 d-flex flex-column align-items-center justify-content-center b"><img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/000000/appointment-time.png" alt="appointment-time"/> <span>Book An Appointment</span></div>
<div class="col-lg-2 d-flex flex-column align-items-center p-3 b"><img width="64" height="64" src="https://img.icons8.com/ink/48/000000/experimental-location-ink.png" alt="experimental-location-ink"/> <span>Reach US</span></div>
<div class="col-lg-2 d-flex flex-column align-items-center p-3 justify-content-center b"><img width="64" height="64" src="https://img.icons8.com/ios/64/000000/online-package-tracking.png" alt="online-package-tracking"/> <span>Health Packages</span></div>
<div class="col-lg-2 d-flex flex-column align-items-center p-3 justify-content-center b"><img width="64" height="64" src="https://img.icons8.com/ios/64/000000/microscope.png" alt="microscope"/> <span>Available Tests</span></div>
<div class="col-lg-3 d-flex flex-column align-items-center p-3 justify-content-center"><img width="64" height="64" src="https://img.icons8.com/ios/64/000000/home--v1.png" alt="home--v1"/> <span>Home Visit</span></div>







</div>






</div>





</div>




    </div>
</section>






<!-- welcome section end -->


<section class="dept-section pt-5" style="background-color: rgb(195, 194, 194);">

<h2 class="dept-head text-center mt-5">Diverse Departments <br>
    for Comprehensive Health Services</h2>

<!-- image slide start -->

      <!-- carousel-1 start -->

<div class="carousel-1 container-fluid pt-5">

   
   
    <!-- image slide start -->
    
    <div class="container swiper review-container d-flex justify-content-center">
      <div class="slide-container-1">
        <div class="swiper-wrapper">
    
          <div class="swiper-slide">
              <li class="d-flex flex-column align-items-center swipe-li bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-icongeek26-outline-icongeek26/120/000000/external-Pathology-biology-icongeek26-outline-icongeek26.png" alt="external-Pathology-biology-icongeek26-outline-icongeek26"/>
                  <span class="mt-4 co">Pathology</span></li>
          </div>
    
          <div class="swiper-slide">
              <li class="d-flex flex-column align-items-center swipe-li bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/120/000000/external-immune-system-body-anatomy-smashingstocks-detailed-outline-smashing-stocks.png" alt="external-immune-system-body-anatomy-smashingstocks-detailed-outline-smashing-stocks"/><span class="mt-4 co">Serology</span></li>
  
          </div>
    
          <div class="swiper-slide">
              <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-wanicon-lineal-wanicon/120/000000/external-immunity-virus-mutation-wanicon-lineal-wanicon.png" alt="external-immunity-virus-mutation-wanicon-lineal-wanicon"/><span class="mt-4 co">Immunology</span></li>
          </div>
    
          <div class="swiper-slide">
              <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-outline-black-m-oki-orlando/120/000000/external-radiology-science-outline-outline-black-m-oki-orlando.png" alt="external-radiology-science-outline-outline-black-m-oki-orlando"/><span class="mt-4 co">Radiology</span></li>
          </div>
          
          <div class="swiper-slide">
              <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/quill/120/000000/peptide.png" alt="peptide"/><span class="mt-4co">Moleculor Biology</span></li>
          </div>
  
          <div class="swiper-slide">
              <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-others-phat-plus/120/000000/external-biochemistry-biochemistry-outline-others-phat-plus-20.png" alt="external-biochemistry-biochemistry-outline-others-phat-plus-20"/><span class="mt-4 co">Bio Chemistry</span></li>
          </div>
  
          <div class="swiper-slide">
              <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="https://img.icons8.com/external-kosonicon-outline-kosonicon/120/000000/external-microbiology-vaccine-and-laboratory-kosonicon-outline-kosonicon.png" alt="external-microbiology-vaccine-and-laboratory-kosonicon-outline-kosonicon"/><span class="mt-4 co">Microbiology</span></li>
          </div>
  
  
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-1"></div>
    </div>
    
    
    <!-- image slide end -->
    
    
    
    
    </div>
    
    
    
    
    
    
  
  
  
  <!-- image slide end -->
  
  
  
  








</section>




<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
    <!-- carousel-1 end -->
    
    <script>
  
    var swiper = new Swiper(".slide-container-1", {
      slidesPerView: 5,
      spaceBetween: 20,
      sliderPerGroup: 5,
      loop: true,
      centerSlide: "true",
      fade: "true",
      grabCursor: "true",
      pagination: {
        el: ".swiper-pagination-1",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        520: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 5,
        },
        1000: {
      slidesPerView: 5,
    },
       
      },
    });
    
    
  
      </script>
  
  
  
  
  











<script>

window.addEventListener('scroll', function() {
        if (window.scrollY >= 40) {
          document.querySelector('.navigation-bar').classList.add('hidden');
          document.querySelector('.navigation-bar-1').classList.remove('hidden');
        } else {
          document.querySelector('.navigation-bar').classList.remove('hidden');
          document.querySelector('.navigation-bar-1').classList.add('hidden');
        }
      });

</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>